<br></br>
<h1>{{title}}</h1>
</br>
<div class='container' , style="background-color: #bbbbbb; ">
    <h1>{{title2}} ({{stock}})</h1>
    </br>
    <p>Total growth if purchased at start of time period and sold at the end:
    <strong>{{totalGrowth}}</strong>
    </p>
    {{#each analysis}}
        <strong>{{ @key }}:</strong>
        {{#each this}}
            <li>{{ @key }}:
            {{ this }}</li>
        {{/each}}
        </br>
    {{/each}}
</div>
<form class="d-flex" action="/machineLearning.html" method="POST">
    <input class="form-control me-2" type="updateLocalPortfolio" placeholder="Lookup Stock Ticker" aria-label="Search" name="stock_ticker">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>