<br></br>
<h1>{{title}}</h1>
</br>
<div class='container' , style="background-color: #bbbbbb; ">
    <h1>{{title}} ({{stock}})</h1>
    </br>

    {{#each analysis}}
        <p><strong>{{@key}}:</strong> {{this}}</p>
    {{/each}}
</div>
<form class="d-flex" action="/machineLearning.html" method="POST">
    <input class="form-control me-2" type="updateLocalPortfolio" placeholder="Lookup Stock Ticker" aria-label="Search" name="stock_ticker">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>