<br></br>
<h1>{{portfolioName}}</h1>
</br>
<div class='container' , style="background-color: #bbbbbb; ">
    {{#each portfolioArray}}
    <strong>{{@key}}:</strong>
    {{#each this}}
    <div class='container' , style="background-color: #cccccc; ">
        <p><strong>{{@key}}:</strong> {{this}}</p>
    </div>
    {{/each}}
    {{/each}}
    <p>{{ portfolioArray }}</p>
</div>
<form class="d-flex" action="/add-Stock" method="POST">
    <input class="form-control me-2" type="updateLocalPortfolio" placeholder="Lookup Stock Ticker" aria-label="Search" name="portfolio">
    <button class="btn btn-outline-success" action="/all-Portfolios" method="POST">Get Portfolios</button>
</form>